.DS_Store
original_materials/

# Quarto stuff: 
course_notes/_site
course_notes/.quarto

# pixi environments
.pixi/*
!.pixi/config.toml

# Avoid videos for now
course_notes/videos/videos/

__pycache__/

# Avoid the Brightspace folder for now, as it contains a lot of files that we don't need to track in git.
brightspace/